.regist{
    background: white;
}

.centrado{
    text-align: center;
}
.blanco{
    color: white;
}

.naranja{
    color: orange;
}

.trasparente{
    background: transparent;
}

.cyan{
    color: #00ffff;
}
