/*BreakPoints*/
@media (max-width: 479px) {
  .logo-figure {
    visibility: hidden;
  }
  #logo_type {
    margin-left: 30%
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .logo-figure {
    visibility: hidden;
  }
  #logo_type {
    margin-left: 35%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #header.navbar .navbar-header > .navbar-brand > #logo2 {
    width: 60px;
    background-size: 100%;
    margin-top: 5px;
  }
  .logo-text {
    visibility: hidden;
  }
  .caret {
    visibility: hidden;
  }
  .icons {
    visibility: hidden;
  }
  #logo_type{
    visibility: hidden;
  }
  #searchs {
    visibility: hidden;
  }

}

@media (min-width: 992px) and (max-width: 1198px) {
  #header.navbar .navbar-header > .navbar-brand > #logo {
    width: 240px;
    background-size: 100%;
    margin-top: 0%;

  }
  .logo-figure {
    visibility: hidden;
  }
  .caret {
    visibility: hidden;
  }
  .icons {
    visibility: hidden;
  }
  #searchs {
    visibility: hidden;
  }
}

@media (min-width: 1199px) {
  #header.navbar .navbar-header > .navbar-brand > #logo {
    width: 240px;
    background-size: 100%;
    margin-top: 0%;

  }
  .logo-figure {
    visibility: hidden;
  }
  #searchs {
    visibility: hidden;
  }
}