/*Nav Tabs*/
.nav-tabs {
  background-color: #f5f5f5;
  border-width: 1px;
  border-style: solid;
  border-color: rgba($default_color_dark, .12);
  font-size: .85em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
  @include border-radius(3px);
  overflow: hidden;

  & > li {
    margin: 0;
  }
  &.nav > li > a {
    color: $default_color;
    padding: 10px 15px;
    margin: 0;
  }
  & > li > a {
    @include border-radius(0);
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba($default_color_dark, .08);
    i, span {
      margin-right: 7px;
    }
  }
  &.nav > li > a,
  &.nav > li > a:focus,
  &.nav > li > a:hover {
    border-color: rgba($default_color_dark, .08);
  }
  &.nav > li > a:focus,
  &.nav > li > a:hover {
    color: $default_color_dark;
  }
  & > li.active > a,
  & > li.active > a:focus,
  & > li.active > a:hover {
    border-width: 0 1px 0 0;
    border-style: solid;
    color: $default_color_dark;
    background-color: $default_color_light;
    @include border-radius(0);
  }
}
.panel-group {
  border: 1px solid;
  border-color: rgba($default_color_dark, .1);
  @include border-radius(3px);
  overflow: hidden;
  .panel + .panel {
    margin-top: 0;
  }
  .panel {
    border-width: 0 0 1px;
    border-style: solid;
    @include border-radius(0);
    &.last-child,
    &:last-child {
      border: 0 none;
    }
  }
}