.map-container {
  height: 450px;
  margin-bottom: 50px;
  background-color: $default_color_light;
}
.map-info-box {
  width: 300px;
  font-size: 1.2em;
  line-height: 1.8;
  .info-head {
    margin-bottom: 12px;
  }
  i, span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}
.contact .section-header {
  margin-bottom: 40px;
}
.contact-form {
  .action-message {
    margin-bottom: 20px;
    .contact-success,
    .contact-error {
      display: none;
      margin-bottom: 0;
      padding: 5px 10px;
    }
  }
  input,
  textarea {
    //background-color: rgba($default_color_dark, .1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba($default_color_dark, .15);
    padding: 11px 17px;
    width: 100%;
    @include border-radius(3px);
    &:focus {
      border-color: rgba($primary_color, .6);
    }
  }
  label {
    color: #ff0000;
    font-weight: 300;
  }
  .entry-field {
    margin-bottom: 25px;
  }
  .btn {
    margin-top: 20px;
  }
}

.address {

  .address-line {
    margin-bottom: 30px;
  }
  .icon {
    font-size: 1.3em;
    float: left;
    margin-right: 12px;
  }
  .text {
    overflow: hidden;
  }
  .title {
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: 500;
  }
  .social-links {
    margin-top: 10px;
  }
}