.gallery-single {
  margin-bottom: 80px;
}
.fp-gallery {
  margin-bottom: 30px;
  display: none;
  &, a,
  .fp-meta,
  .title {
    color: #FFFFFF;
  }
  .fp-meta {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      &::after {
        content: '/';
        margin: 0 4px 0 6px;
        display: inline-block;
        opacity: .7;
      }
      &:last-child::after {
        content: '';
        margin: 0;
      }
    }
  }
  .title {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .gallery-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primary_color, .8);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    @include transform(scale(0, 0));
    @include transition(all ease-in-out .3s);
  }
  .caption-inner {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    padding: 15px 0;
    @include transform(translateY(-50%));

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 1px;
      display: block;
      background-color: rgba(#FFFFFF, .8);
      @include transition(all .4s ease-in-out .4s);
    }
    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }
  }
  .gallery-box:hover {
    .gallery-caption {
      opacity: 1;
      visibility: visible;
      @include transform(scale(1, 1));

      .caption-inner::before,
      .caption-inner::after {
        width: 100%;
      }
    }
  }
}

.gallery-grid {
  width: 100%;
}
.item {
  float: left;
  margin: 0;
  width: 100%;
  margin-bottom: 10px;
  .ratio-inner {
    overflow: hidden;
  }
  img {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .item {
    width: 33%;
    margin: 0 .5% .4% 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

