.fp-breadcrumb {
  font-size: .8em;
  text-transform: uppercase;
}
.site-logo {
  display: inline-block;
  margin-bottom: 40px;
}
.header {
  position: relative;
  margin: 0 0 80px;
  width: 100%;
  .header-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($default_color_dark, .8);
    padding: 30px 0;
  }
  .header-content {
    position: absolute;
    top: 50%;
    left: 0;
    @include transform(translateY(-50%));
    width: 100%;
  }
  .site-logo {
    margin-bottom: 30px;
  }
  &,
  .page-title {
    color: #FFFFFF;
    text-transform: uppercase;
  }

  .social-area {
    &, a {
      color: #FFFFFF;
    }
  }
}
.fp-breadcrumb {
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    display: inline-block;
    color: $default_color_light;
    i, span {
      margin-right: 3px;
    }
    &::after {
      content: '/';
      display: inline-block;
      margin: 0 3px 0 6px;
    }
    &:last-child::after {
      content: '';
      margin: 0;
    }
    a {
      color: #FFFFFF;
      &:hover {
        color: $primary_color;
      }
    }
  }
}
