.nav-toggle-btn {
  position: absolute;
  top: 25px;
  left: 30px;
  display: block;
  height: 30px;
  width: 30px;
  z-index: 9999;

  span {
    display: block;
    position: absolute;
    left: 50%;
    top: 13px;
    width: 30px;
    height: 2px;
    background-color: transparent;
    @include border-radius(0);
    @include transform(translate(-50%));
    @include transition(all ease-in-out .3s);
  }

  span::before,
  span::after {
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #FFFFFF;
    @include transition(all ease-in-out .3s);
  }
  span::before {
    top: 0;
    @include transform(rotate(45deg));
  }
  span::after {
    bottom: 0;
    @include transform(rotate(-45deg));
  }

}
.nav-toggle-btn.collapsed {

  span {
    background-color: #FFFFFF;
  }
  span::before,
  span::after {
    left: 0;
    @include transform(rotate(0deg));
  }
  span::before {
    top: -8px;
  }
  span::after {
    bottom: -8px;
  }

}
.nav-show {
  overflow: hidden;
}
@media screen and (min-width: 736px) {
  .full-page-nav {
    padding: 0;
    .full-page-nav-inner {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      @include transform(translateY(-50%));
      opacity: 0;
      visibility: hidden;
      @include transition(all .5s ease-in-out .3s);
    }
  }
}
.full-page-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $default_color_dark;
  z-index: 999;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  @include transform(scale(0, 0));
  @include transition(all ease-in-out .3s);
  .full-page-nav-inner {
    opacity: 0;
    visibility: hidden;
    @include transition(all .5s ease-in-out .3s);
    padding: 100px 0;
  }
  .nav-show & {
    visibility: visible;
    opacity: 1;
    @include transform(scale(1, 1));

    .full-page-nav-inner {
      opacity: 1;
      visibility: visible;
    }
  }
  .nav {
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 1;
    .sub-nav {
      margin: 0;
      padding: 0;
      font-size: .7em;
      li {
        position: relative;
        list-style-type: none;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 10px;
          height: 1px;
          background-color: $default_color;
        }
        a {
          display: inline-block;
          padding: 7px 20px;
          color: $default_color;
          &:hover {
            color: $primary_color;
          }
        }
      }
    }
  }
  .social-links {
    margin-top: 30px;
    a {
      margin: 0 10px 0 0;
      color: $default_color_light;
      &:hover {
        color: #FFFFFF;
      }
    }
  }
  .fp-copyright {
    margin-top: 20px;
  }
}
@media screen and (min-width: 736px) {
  .full-page-nav {
    .full-page-nav-inner {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      @include transform(translateY(-50%));
      opacity: 0;
      visibility: hidden;
      @include transition(all .5s ease-in-out .3s);
      padding: 0;
    }
  }
}
.nav > li > a {
  display: inline-block;
  padding: 10px 0;
  color: $default_color_light;
  &:hover,
  &:focus {
    background-color: transparent;
    color: #FFFFFF;
  }
}