// Fonts
$default_font: 'Lato', sans-serif;
$icon_font: ionicons;

// Colors
$body_bg_color: #ffffff;
$default_color: #727272;
$default_color_light: #d6d6d6;
$default_color_dark: #212121;

// Cyan ( Default )
$primary_color: #00bcd4;
$primary_color_alt: #00cde8;
$primary_color_light: #e8fcff;
$primary_color_dark: #00abc0;

// Green
//$primary_color: #43a047;
//$primary_color_alt: #4caf50;
//$primary_color_light: #c8e6c9;
//$primary_color_dark: #388e3c;

// Amber
$primary_color: #ffb300;
$primary_color_alt: #ffc107;
$primary_color_light: #ffecb3;
$primary_color_dark: #ffa000;

// Blue
//$primary_color: #039be5;
//$primary_color_alt: #03a9f4 ;
//$primary_color_light: #b3e5fc;
//$primary_color_dark: #0288d1;

// Indigo
//$primary_color: #3f51b5;
//$primary_color_alt: #4a5de3;
//$primary_color_light: #c5cae9;
//$primary_color_dark: #3949ab;

// Purple
//$primary_color: #9c27b0;
//$primary_color_alt: #ab47bc;
//$primary_color_light: #e1bee7;
//$primary_color_dark: #8e24aa;

// Red
//$primary_color: #F44336;
//$primary_color_alt: #FF5252;
//$primary_color_light: #FFCDD2;
//$primary_color_dark: #D32F2F;
