.vegas-timer {
  .vegas-timer-progress {
    background-color: rgba($primary_color, .2);
  }
}
.wrapper {
  width: 100%;
  .wrapper-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba($default_color_dark, .3);
    padding: 100px 0 0;
    width: 100%;
    overflow-x: hidden;
  }
}
.main-content {
  margin-bottom: 80px;
}
#animatedBg.wrapper {
  background-image: url("../images/h_bg.jpg");
  background-position: center center;
  @include bg_cover();
  overflow: hidden;
  .wrapper-inner {
    background-color: transparent;
  }
}
.slide-controller {
  a {
    opacity: .4;
    &:hover {
      opacity: 1;
    }
  }
  &.active a {
    opacity: 1;
  }
  #toggle {
    margin: 0 10px;
    .fa-play {
      display: none;
    }
    &.pause {
      .fa-play {
        display: inline-block;
      }
      .fa-pause {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .home {
    height: 100vh;
  }
  .wrapper {
    .wrapper-inner {
      overflow: hidden;
      padding: 0;
    }
  }
}

